.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 2rem;
    background: hsla(0, 0%, 100%, 0.13);
    border-radius: 12px;
    padding: 1rem;
    color: white;
}

.banner .typography {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.banner .typography .minmax {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner .typography .temperature {
    font-size: 6rem;
}

.banner .typography .minmax .label {
    font-size: 1.2rem;
}

.banner .typography .status {
    font-size: 1.4rem;
}

.banner .image img {
    width: 14rem;
}

@media screen and (max-width: 755px) {
    .banner {
        flex-direction: column-reverse;
        width: 100%;
        gap: 0px;
        background: none;
    }

    .banner .typography {
        align-items: center;
    }

    .banner .typography .minmax {
        width: max-content;
        gap: 2rem;
    }

    .banner .typography .temperature {
        font-size: 4rem;
    }

    .banner .image img {
        width: 12rem;
    }
}

@media screen and (max-width: 420px) {
    .banner {
        padding: 0;
    }
} 